/*
 * Variables
 */

 :root {  
    --card-padding: 24px;
    --card-height: 239.73px;
    --card-skeleton: linear-gradient(lightgrey var(--card-height), transparent 0);
    
    --footer-height: 50px;
    --footer-position: 0 calc(var(--card-height) - var(--footer-height));
    --footer-skeleton: linear-gradient(white var(--footer-height), transparent 0);

    --blur-width: 200px;
    --blur-size: var(--blur-width) calc(var(--card-height) - var(--footer-height));
  }
  
  /*
   * Card Skeleton for Loading
   */
  
  .card {
    width: 270.5px;
    height: var(--card-height);
    margin: var(--card-padding);
    &:empty::after {
      content:"";
      display:block;
      width: 100%;
      height: 100%;
      border-radius:6px;
      box-shadow: 0 10px 45px rgba(0,0,0, .1);
  
      background-image:
        linear-gradient(
          90deg, 
          rgba(white, 0) 0, 
          rgba(white, .8) 50%, 
          rgba(white, 0) 100%
        ),                          //animation blur
        var(--footer-skeleton),     //footer bar
        var(--card-skeleton)        //card
      ;
  
      background-size:
        var(--blur-size),
        100% var(--footer-height),
        100% 100%
      ;
      
      background-position:
        -150% 0,                      //animation
        var(--footer-position),       //footer bar
        0 0                           //card
      ;
  
      background-repeat: no-repeat;
      animation: loading 1.5s infinite;
    }
  }
  
  @keyframes loading {
    to {
      background-position:
        350% 0,        
        var(--footer-position),
        0 0
      ;
    }
  }
  